.probel_beetveen{
	
	content: "";
	width: 100%;
	border: solid blue 10px;
	min-height: 800px;

}

.sp_wrap_footer
	{
		color: #8cbbdd;
	}

footer{
	margin-top: 20px;
	bottom: 0;
	position: absolute;
	height: 50px;
	width: 100%;
}



body{
	position: relative;
	padding-bottom: 120px;
	box-sizing: border-box;
}